.comment.comment_item
  .user_photo
    = user_photo comment.user
  .metadata
    = raw t("comments.show.metadata", :time_ago => distance_of_time_in_words(Time.now, comment.created_at), :user_link => link_to_profile(comment.user))
  .text
    = simple_format h(comment.content)

  - if current_user
    = buttons_bar do
      - if comment.can_edit?(current_user)
        = link_to t("comments.show.links.edit"), edit_comment_path(comment)

      - if comment.can_destroy?(current_user)
        = form_for comment, :html => { :method => :delete } do
          = button_ok :label => t("comments.show.links.destroy")
