= form_for Comment.new, :html => { :class => "new_comment" } do |form|
  = hidden_field_tag "commentable", XiraxiCore::Security.encrypt({:class => commentable.class.name, :id => commentable.id})
  
  %fieldset
    %legend
      = t "comments.creation.legend"

    %ul
      %li
        = form.hidden_label :content
        = form.text_area :content
    = button_ok
